table,th,td{
	border-collapse: collapse;
}
#t1{
	background-color: rgb(100,500,300);
}

#t2{
	background-color: rgb(500,100,200);
	text-align:left;
}
.th1{
	background-color: rgb(222, 68, 236 );
	color: rgb(255,255,255);
}
.th2{
	background-color: rgb(166, 237, 56 );
	
}
.th3{
	color: #000000;
}